#container {
    margin: 0px auto 0px auto;
    width: 960px; 
}

#cabecalho{
    height: 60px;
    background-color: #82262c;
    margin-top: 30px;
}

h2{
    color: white;
    line-height: 60px;
    font-family: times new roman;
    font-size: 17px;

}

#titulo{
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}

#foto{
    margin-top: 40px;
}

#subtit{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

#tit{
    font-family: sans-serif;
    color:  #82262c;
    font-weight: bold; 
}

#esquerda{
height: 600px;
width: 35%;
float: left;
margin-top: 20px;
}


#direita{
height: 500px;
width: 60%;
float: right;
margin-top: 20px;

}

h1{
    color: #82262c;
    font-size: 30px;
    font-family: sans-serif;
}

#sub2{
    color: #82262c;
    font-family: sans-serif;
    font-size: 20px;
}

#text-esquerda{
    color: white;
    font-size: 25px;
    font-family: Times new roman;
    text-align: left;
    margin-left: 25px;
}

#text-direita{
    text-align: justify;
    line-height: 35px;
}

#ft2{
    margin-bottom: 5px;
}

#ft3{
    margin-bottom: 5px;
}

#ft4{
    margin-bottom: 5px;
}

#box{
    height: 190px;
    width: 340px;
    background-color: #82262c;
    margin-bottom: 50px;
    border-radius: 12px;
}

#boxtxt{
    line-height: 60px;
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 19px;
    text-align: left;
    margin-left: 25px; 

}

/** Efeito de rotação */
.card{
    position: relative;
    height: 150px;
    width: 335px;
    margin: 5px;
    perspective: 1000px;
}

.card .flip{
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .flip{
    transform: rotateY(180deg);
}

.front-card,.back-card{
    position: absolute;
    backface-visibility: hidden;

}

.back-card{
    transform: rotateY(180deg);
}

.front-card img, .back-card img{
    border-radius: 12px;
    box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}
